<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Our custom CSS-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/css/home-page.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Settings -->

    <!-- Font Awesome Settings-->
    <link
      href="//db.onlinewebfonts.com/c/8fc5acdacacdb76c71a1b849cbf95008?family=Font+Awesome+5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="/scripts/fontawesome.js"></script>
    <script src="/scripts/side-bar.js"></script>
    <!--Font Link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Home Page</title>
  </head>
  <body>
    <!--Navigation Bar -->
    <div class="navigation">
      <div class="account-icon">
        <div class="icon">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <ul>
        <li id="home-page" onclick=" toggleButton(this.id)"> 
          <a  href="#" >
           
            
            <span class="icon"><i class="fas fa-home"></i></i></span>
            <span class="title">Home Page</span>
          </a>
        </li>
        <li id="my-reservations" onclick=" toggleButton(this.id)">
          <a  href="#" >
             
            <span class="icon"><i class="fas fa-suitcase"></i></span>
            <span class="title">My Reservations</span>
          </a>
        </li>
        <li>
          <div></div>
          <a href="#">
            <span class="icon"><i class="fad fa-sign-out-alt"></i></span>
            <span class="title">Sign Out </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="toggle" onclick="toggleMenu()"> </div>
 <!--Navigation Bar ends here-->
  <div class="upper">

    <img src="/img/travel-img.svg" alt="" srcset="">
  </div>
  <div class="bottom"></div>
    
  </body>
</html>
