<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css"> 
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="//db.onlinewebfonts.com/c/8fc5acdacacdb76c71a1b849cbf95008?family=Font+Awesome+5" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
   
</head>
<body>
    <div class="login-container">
        <div class="greeting-text">
            <h1>HELLO!</h1>
            <p>Sign into Your Account</p>
        </div>
    <div class="credentials">
        <form action="/login" method="POST">
        
            <div class="input ">
                <i class="fal fa-user"></i>
                <input type="text" name="username" id="usernameInput" aria-describedby="usernameHelp" placeholder="">
            </div>
            <div class="input ">
                <i class="fal fa-lock-alt"></i>
                <input type="password" name="password" id="passwordInput" aria-describedby="passwordHelp" placeholder="">
            </div>
            <div class="checkbox-input">
                <input type="checkbox" name="remember-me" id="rememberCheckbox" aria-describedby="checkboxHelp" placeholder="">
                <label for="rememberCheckbox"> Remember me</label>
            </div>
            <div class="button-input">
                <button class="button" id="buttonSignIn" >SIGN IN</button>
            </div>
           
        </form>
    </div>    
    </div>
<script src="/scripts/fontawesome.js"></script>
</body>
</html>