<%- include("layouts/Header"); -%>

<!--Custom CSS-->
  <link href="/css/side-bar.css" rel="stylesheet" type="text/css" />
     <link href="/css/my-reservations.css" rel="stylesheet" type="text/css" />
     <!-- Flatpickr CSS-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/default.css">

    <title>My reservations</title>
  </head>
  <body>
    
    <%- include ("layouts/Sidebar"); -%>
<div id="page-content-wrapper">
<div class="upper">
        
        
        <img src="/img/travel-img.svg" alt="" srcset="">
        <div class="container ">
          <div class="row"><div class="text">
          <h1>Current Reservation</h1>
        </div></div>
        </div>
<div class="container room">
  
  <div class="row">
    <div class="col-2 room-nr"><span>Room nr. 23</span></div>
    <div class="col-10 room-info">

      <div class="container">
        <div class="row">
          <div class="col-8 info">
            <div><h4>Deluxe Double Room</h4></div>
            <div class="dates">
              <div class="row">
                 <div class="col" id="start-date"> <i class="fal fa-calendar-alt"></i> start date</div>
                 <div class="col" id="end-date"><i class="fal fa-calendar-alt"></i> end date</div>
              </div>
            </div>
           <div class="nr-persons"> <i class="fal fa-user"></i>  2</div>
           
          </div>
          <div class="col-4 actions">
            <div class="row">
              <div class="col">Check In</div>
              <div class="col">Check Out</div>
            </div>
            <div class="row">
              <div class="col">Cancel the reservation</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
 <div class="bottom">
      
    </div>
    
</div>



    <!-- jQuery first,then flatPickr then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--Custom scripts-->
    
    <%- include("layouts/Footer"); -%>