<%- include("layouts/Header"); -%>

<!--Custom CSS-->
  
     <link href="/css/my-reservations.css" rel="stylesheet" type="text/css" />
     <!-- Flatpickr CSS-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/default.css">

    <title>My reservations</title>
  </head>
  <body>
    
    <%- include ("layouts/Sidebar"); -%>
<div id="page-content-wrapper">
<div class="upper">
        <img src="/img/travel-img.svg" alt="" srcset="">
        <div class="container ">
          <div class="row"><div class="text">
          <h1>Current Reservation</h1>
        </div></div>
        </div>
<div class="container room">
  
  <div class="row">
    <div class="col-2 room-nr"><span>Room nr. 23</span></div>
    <div class="col-10 room-info">

      <div class="container">
        <div class="row">
          <div class="col-8 info">
            <div><h4>Deluxe Double Room</h4></div>
            <div class="dates">
              <div class="row">
                 <div class="col" id="start-date"> <i class="fal fa-calendar-alt"></i> start date</div>
                 <div class="col" id="end-date"><i class="fal fa-calendar-alt"></i> end date</div>
              </div>
            </div>
           <div class="nr-persons"> <i class="fal fa-user"></i>  2</div>
           
          </div>
          <div class="col-4 actions">
            <div class="row">
              <div class="col">Check In</div>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
              <div class="col">Check Out</div>
            </div>
            <div class="row">
              <div class="col">Cancel the reservation</div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
 <div class="bottom">
      
    </div>
    
</div>



    <!-- jQuery first,then flatPickr then Popper.js, then Bootstrap JS -->
    
    <!--Custom scripts-->
    
    <%- include("layouts/Footer"); -%>