<%- include("layouts/Header"); -%>
    <link rel="stylesheet" href="../public/css/admin.css" />
    <link href="../public/css/side-bar.css" rel="stylesheet" type="text/css" />
    <script src="../public/scripts/side-bar.js"></script>
    <title>Rooms</title>
    <style>
      .navigation ul li a {
          color: var(--light-grey);
      }
  </style>
  </head>

  <body>
    <%- include ("layouts/Sidebar"); -%>
    
    <div class="menusReserv">

      <ul>
   <!-- <ul id="headContent">-->
      <li style="margin-left:1%;padding-left:0;"><a href="#" >All</a></li>
      <li><a href="#" >Specific rooms</a></li>
      <li style="padding-left:5%;""><input type="text" placeholder="Search..."/><i class="fas fa-search"></i></li>
      <table>
          <form>
              <tr>
                  <td>
                      Start date:
                  </td>
                  <td style="padding-left:20px;">
                      End date:
                  </td>
                  
              </tr>
              <tr>
                  <td id="date1">
                      <input type="date" name="beginReserv" id="dC1" min="beginDate()" required>
                      <!--<span class="iconCal"><i class="fas fa-calendar-alt"></i></span>-->
                  </td>
                  <td id="date1" style="padding-left:20px;">
                      <input type="date" name="endReserv" id="dC1" min="beginDate()" required>
                      <!--<span class="iconCal"><i class="fas fa-calendar-alt"></i></span>-->
                  </td>
              </tr>
          </form>
      </table>
    </ul>

    </div>

    <div id="content" style="margin-top:5%;">

    <ul style="margin-top:10px;">
      <li style="padding-left:1%;">Room nr.</li>
      <li>Room type</li>
      <li>Price</li>
      <li style="padding-right:15%;">Facilities</li>
    </ul>

    <ol id="numbers">
      <div class="itemBck">
          <li>
              <span class="roomType">Premiere Double Room</span>
              <span class="price">150$</span>
              <span class="facil">TV, Microwave</span>
          </li>
      </div>
      
      <div class="itemBck">
          <li>
              <span class="roomType">Premiere Double Room</span>
              <span class="price">150$</span>
              <span class="facil">TV, Microwave</span>
          </li>
      </div>

      <div class="itemBck">
          <li>
              <span class="roomType">Premiere Double Room</span>
              <span class="price">150$</span>
              <span class="facil">TV, Microwave</span>
          </li>
      </div>

      <div class="itemBck">
          <li>
              <span class="roomType">Premiere Double Room</span>
              <span class="price">150$</span>
              <span class="facil">TV, Microwave</span>
          </li>
      </div>
    </ol>

  </div>

  <script type="text/javascript">
      function beginDate() {
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

          if (month.length < 2) 
              month = '0' + month;
          if (day.length < 2) 
              day = '0' + day;

          return [year, month, day].join('-');
      }
  </script>

<%- include("layouts/Footer"); -%>
