<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/admin.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="circlePhoto">
                <span id="adminPhoto"><!--<img src="../img/admin.png" alt="No image found"/>--></span>
            </div>
            <ul>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Reservations</a></li>
                <li class="logout"><a href="#">Log out</a></li>
            </ul>
        </div>
        <div id="content">
            <ul>
                <li>Room nr.</li>
                <li>Room type</li>
                <li>Price</li>
                <li>Facilities</li>
                <li><span id="addButton"><!--image--></span></li>
            </ul>

            <ol>
                <li>
                    <span class="roomType">Premiere Double Room</span>
                    <span class="price">150$</span>
                    <span class="facil">TV, Microwave</span>
                    <!--<span class="imgEdit"><img src="#" alt="No image found"/></span>
                    <span class="imgRecycle"><img src="#" alt="No image found"/></span>
                    -->
                </li>
                <li>
                    <span class="roomType">Premiere Double Room</span>
                    <span class="price">150$</span>
                    <span class="facil">TV, Fridge</span>
                    <!--
                    <span class="imgEdit"><img src="#" alt="No image found"/></span>
                    <span class="imgRecycle"><img src="#" alt="No image found"/></span>
                    -->
                </li>
                <li>
                    <span class="roomType">Premiere Double Room</span>
                    <span class="price">150$</span>
                    <span class="facil">TV, Fridge, Microwave</span>
                    <!--
                    <span class="imgEdit"><img src="#" alt="No image found"/></span>
                    <span class="imgRecycle"><img src="#" alt="No image found"/></span>
                    -->
                </li>
                <li>
                    <span class="roomType">Premiere Double Room</span>
                    <span class="price">150$</span>
                    <span class="facil">TV, ...</span>
                    <!--
                    <span class="imgEdit"><img src="#" alt="No image found"/></span>
                    <span class="imgRecycle"><img src="#" alt="No image found"/></span>
                    -->
                </li>
            </ol>
        </div>
    </body>
</html>
