<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/security-code-login.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="//db.onlinewebfonts.com/c/8fc5acdacacdb76c71a1b849cbf95008?family=Font+Awesome+5" rel="stylesheet"
        type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Security Code</title>
</head>
<body>
    <div class="back-button-container" id="back-button"> 
    <i class="far fa-arrow-left"></i>
    </div>
    <div class="login-container">
        <div class="greeting-text">
            <h1>HELLO STAFF!</h1>
            <p>Please enter your security code</p>
        </div>
        <div class="credentials">
            <form action="/security-code" method="POST">
    
                <div class="input ">
                    <i class="fal fa-key"></i>
                    <input type="text" name="securityKey" id="securityKeyInput" aria-describedby="securityKeyHelp" placeholder="">
                </div>
                
                <div class="button-input">
                    <button class="button" id="buttonSignIn">SIGN IN</button>
                </div>
    
            </form>
        </div>
    </div>
    <script src="/scripts/fontawesome.js"></script>
</body>
</html>